.header {
  position: fixed;
  top: 0;
  width: 100%;
  cursor: pointer;
  /* margin: 2rem; */
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-size: x-large;
  z-index: 100;
  backdrop-filter: blur(1rem);
}

.link {
  margin-right: 3rem;
}

.link:hover {
  color: #ed8a26;
}
