.aboutContainer {
  display: flex;
  flex-direction: column;
  margin: 0 25rem;
  padding: 0 5rem;
}

.aboutContainer h2 {
  font-size: 3rem;
  margin: 1rem 3rem;
  text-align: center;
}

.aboutContainer p {
  margin: 2rem 3rem;
}
