.aboutContainer {
  display: flex;
  flex-direction: column;
  margin: 0 15rem;
  padding: 0 5rem;
}

.aboutContainer h2 {
  font-size: 3rem;
  margin: 1rem 3rem;
  text-align: center;
}

.aboutSection {
  margin: 3rem;
}

.aboutPara {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

@media (max-width: 84em) {
  .aboutContainer h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 75em) {
  .aboutContainer {
    margin: 0 8rem;
  }

  .aboutSection {
    margin: 1rem;
  }

  .aboutContainer h2 {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .aboutPara {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 59em) {
  .aboutContainer {
    width: 100%;
    margin: 0 5rem;
    padding: 0 2rem;
  }
  .aboutContainer h2 {
    padding: 1rem;
  }
}

@media (max-width: 34em) {
  .aboutContainer {
    width: 100%;
  }
  .aboutContainer h2 {
    width: 100%;
  }
  .aboutPara {
    width: 150%;
    font-size: 1.4rem;
  }
}

@media (max-width: 32em) {
  .aboutContainer {
    margin: 0 8rem;
  }
  .aboutContainer h2 {
    margin-left: 5rem;
  }
}
