.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 0 0 0;
  border-top: 1px solid #eee;
}

.contactContainer h2 {
  font-size: 2.4rem;
  margin: 3rem;
}

.contactContainer p {
  font-size: 1.2rem;
  padding: 0 2.5rem;
  text-align: center;
}

.contactIcons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 3rem 0;
}

.contactIcon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.contactIcon:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contactIcon a:hover {
  color: #ed8a26;
}

.contactIcon svg {
  width: 50px;
  height: 50px;
}

.contactContainer .copyright {
  margin-top: 2rem;
  text-align: center;
}

@media (max-width: 32em) {
  .contactContainer h2 {
    font-size: 1.4rem;
    margin: 0;
  }

  .contactContainer p {
    padding: 0;
    font-size: 1rem;
    line-height: 1.6;
  }
}

/* @media (max-width: 59em) {
  .contactContainer {
    width: 100%;
    margin: 4.8rem;
  }
}

@media (max-width: 34em) {
  .contactContainer {
    width: 150%;
  }
}

@media (max-width: 32em) {
  .contactContainer {
    width: 180%;
  }
} */
