.experienceContainer {
  display: flex;
  margin: 5rem 10rem;
}

.experience span {
  width: 60%;
}

.experience h2 {
  font-size: 3rem;
  margin: 5rem 5rem 4rem 5rem;
}

.experiencePara {
  margin: 0rem 5rem 2rem;
  width: 75%;
  font-size: 1.2rem;
}

@media (max-width: 84em) {
  .experienceContainer {
    margin: 0;
  }
  .experience h2 {
    margin: 5rem 0 3rem 5rem;
    font-size: 2rem;
    line-height: 1.2;
  }
  .experiencePara {
    margin-right: 0;
    line-height: 1.6;
  }
}

@media (max-width: 75em) {
  .experience h2 {
    margin: 5rem 1rem 3rem 2rem;
  }
  .experiencePara {
    margin: 2rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 1.4;
  }
}

@media (max-width: 32em) {
  .experienceContainer {
    display: flex;
    flex-direction: column;
  }

  .experience h2 {
    margin: 4rem 0 0 1rem;
    font-size: 1.4rem;
    line-height: 1.2;
  }

  .experiencePara {
    margin: 1rem 0 1rem 2rem;
    padding: 0;
    font-size: 1.8;
    line-height: 1.4;
  }
}

/* @media (max-width: 84em) {
  .experience h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 75em) {
  .experienceContainer {
    padding: 0 2rem;
  }

  .experience h2 {
    font-size: 1.8rem;
  }
  .experiencePara {
    font-size: 1rem;
  }
}

@media (max-width: 59em) {
  .experience h2 {
    line-height: 1.8rem;
  }
  .experienceContainer {
    width: 100%;
    margin: 3rem;
  }
} */
