.experienceContainer {
  display: flex;
  margin: 5rem 5rem;
  padding: 0 5rem;
}

.experience span {
  width: 60%;
}

.experience h2 {
  font-size: 3rem;
  margin: 5rem;
}

.experiencePara {
  margin: 5rem 5rem 2rem;
  width: 75%;
  font-size: 1.2rem;
}

@media (max-width: 84em) {
  .experience h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 75em) {
  .experienceContainer {
    padding: 0 2rem;
  }

  .experience h2 {
    font-size: 1.8rem;
  }
  .experiencePara {
    font-size: 1rem;
  }
}

@media (max-width: 59em) {
  .experience h2 {
    line-height: 1.8rem;
  }
  .experienceContainer {
    width: 100%;
    margin: 3rem;
  }
}
