.header {
  height: 6rem;
  cursor: pointer;
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-size: x-large;
  backdrop-filter: blur(1rem);
}

.navLinks {
  display: flex;
  gap: 3rem;
}

.navLinks:link,
.navLinks:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.link:hover {
  color: #ed8a26;
}

.btnMobileNav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.iconMobileNav {
  height: 2.8rem;
  width: 2.8rem;
  color: #333;
}

.iconMobileNav[name="close-outline"] {
  display: none;
}

@media (max-width: 48em) {
  .header {
    justify-content: end;
  }

  .btnMobileNav {
    display: block;
    z-index: 10000;
  }

  .navLinks {
    background-color: rgba(255, 255, 255, 0.9);
    /* backdrop-filter: blur(5px); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .showNav .navLinks {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .showNav .iconMobileNav[name="close-outline"] {
    display: block;
  }

  .showNav .iconMobileNav[name="menu-outline"] {
    display: none;
  }
}
