.homeContainer {
  display: flex;
  margin: 5rem;
  padding: 5rem;
}

.homeContainer p {
  margin: 5rem;
}

.homeContainer img {
  width: 25rem;
  height: 25rem;
}

.homeContainer h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 5rem;
}
