.homeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0 5rem 0;
}

.homeContainer img {
  width: 25rem;
  height: 25rem;
  pointer-events: none;
  user-select: none;
  border-radius: 0.5rem;
  margin-right: 8rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 6rem 3rem 6rem 10rem;
}

.homeContainer h2 {
  font-size: 3rem;
}

.btnGrad {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  padding: 0.75rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 5px;
  display: block;
}

.btnGrad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.homePara {
  font-size: 1.2rem;
  line-height: 1.6;
  width: 100%;
  padding-right: 3rem;
}

@media (max-width: 84em) {
  .homeContainer {
    margin: 0;
  }
  .homeContainer h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 75em) {
  .homeContainer h2 {
    font-size: 2rem;
    line-height: 1.2;
  }

  .homePara {
    font-size: 1.2rem;
    line-height: 1.4;
  }

  .homeContainer img {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 65em) {
  .homeContainer h2 {
    font-size: 1.6rem;
    line-height: 1;
  }

  .homePara {
    font-size: 1.1rem;
    line-height: 1.2;
    padding: 0;
  }
}

@media (max-width: 59em) {
  .homeContainer {
    flex-direction: column;
  }

  .homeContainer h2 {
    font-size: 1.8rem;
    line-height: 1;
    text-align: center;
  }

  .homePara {
    font-size: 1rem;
    line-height: 1.2;
    padding: 0 4rem;
  }

  .content {
    margin: 2rem 3rem;
  }

  .homeContainer img {
    margin: 0;
  }

  .btnCV {
    display: flex;
    justify-content: center;
  }
}
/*
@media (max-width: 59em) {
  .homeContainer {
    width: 100%;
    margin: 3rem;
    padding: 3rem;
  }

  .homeContainer h2 {
    margin-right: 1rem;
  }

  .homePara {
    padding-right: 4rem;
  }

  .homeContainer img {
    width: 20rem;
    height: 20rem;
  }
}

@media (max-width: 34em) {
  .homePara {
    font-size: 1.4rem;
  }

  .homeContainer {
    width: 150%;
    margin: 0 5rem;
  }
}

@media (max-width: 32em) {
  .homeContainer {
    display: flex;
    flex-direction: column;
  }
  .homeContainer h2 {
    text-align: center;
  }
  .homePara {
    padding: 0;
  }
  .btnCV {
    display: flex;
    justify-content: center;
  }
  .btnGrad {
    margin-top: 0;
    margin-bottom: 2rem;
  }
} */
