.projects {
  margin: 5rem 5rem 0 5rem;
}

.cardHeading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card {
  padding: 2.4rem;
  box-shadow: 0 1.3rem 4.8rem rgba(0, 0, 0, 0.075);
}

.card:hover {
  box-shadow: 0 1rem 4.8rem rgba(0, 0, 0, 0.06);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
}

.heading {
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 1.6rem;
}

.img {
  width: 100%;
  overflow: hidden;
}

.img:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.description {
  padding: 1.8rem 0 1.2rem 0;
}

.techStackIcons {
  display: flex;
  gap: 2.4rem;
  margin-bottom: 1.2rem;
}

.techIcon {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.techIcon svg {
  margin-right: 5px;
  font-size: 18px;
}

.gitIcon:hover {
  transform: scale(1.52);
}

@media (max-width: 75em) {
  .projects {
    margin: 3rem 0 0 0;
  }

  .heading {
    font-size: 1.4rem;
    line-height: 1.2;
  }

  .grid {
    gap: 2.4rem;
  }
}

@media (max-width: 59em) {
  .grid {
    display: flex;
    flex-direction: column;
  }

  .description {
    line-height: 1.6;
  }

  .techStackIcons {
    gap: 0;
  }
}
