.timeline {
  position: relative;
  margin: 2rem 0;
  padding-left: 2rem;
  border-left: 2px solid #ccc;
}

.entry {
  position: relative;
  margin-bottom: 2rem;
}

.dot {
  position: absolute;
  left: -2.5rem;
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-color: chocolate;
  border-radius: 50%;
}

.content {
  margin-left: 2rem;
}

.timelineHeadingSecondary {
  margin: 0.5rem 0 0.2rem 0;
  font-size: 1.4rem;
}

.timelineHeadingTertiary {
  font-size: 1.2rem;
}

.timelineHeading4 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.reponsibilities {
  margin: 0.5rem 2rem 0.5rem 0rem;
  font-size: 1rem;
}

@media (max-width: 75em) {
  .reponsibilities {
    line-height: 1.6;
  }
}

@media (max-width: 34em) {
  .content {
    width: 130%;
  }
  .timelineHeadingTertiary {
    font-size: 1.2rem;
  }
  .reponsibilities {
    font-size: 1.2rem;
  }
}
