.timeline {
  position: relative;
  margin: 2rem 0;
  padding-left: 2rem;
  border-left: 2px solid #ccc;
}

.entry {
  position: relative;
  margin-bottom: 2rem;
}

.dot {
  position: absolute;
  left: -2.5rem;
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-color: chocolate;
  border-radius: 50%;
}

.content {
  margin-left: 2rem;
}

h2 {
  margin: 0.5rem 0;
  font-size: 1.4rem;
}

h3 {
  margin: 0;
  font-size: 1.2rem;
}

h4 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

p {
  margin: 0.5rem 2rem 0.5rem 0rem;
  font-size: 0.9rem;
}
