@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap");

* {
  font-family: "Montagu Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.element {
  height: max-content;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
  overflow-y: auto;
  margin: 1rem;
}
